{% extends 'tests_base.html' %}
{% load crispy_forms_filters %}
{% block title %}Тест Белбина{% endblock %}
{% block card_col %}
    col-6-lg
{% endblock %}
{% block main %}
    <h2>Прохождение теста белбина</h2>
    <p>
        В каждом из семи блоков данного опросника распределите 10 баллов между возможными ответами согласно тому, как вы
        полагаете они лучше всего подходят вашему собственному поведению. Если вы согласны с каким-либо утверждением на
        все 100%, вы можете отдать ему все 10 баллов. При этом одному предложению можно присвоить минимум 2 балла.
        Проверьте, чтобы сумма всех баллов по каждому блоку не превышала 10.
    </p>
    <form method="post">
        {% csrf_token %}
        {% for form in forms %}
            <hr>
            <h3>Блок {{ forloop.counter }}</h3>
            <hr>
            {% if form.error %}
                <p style="color: #a32727">{{ form.error }}</p>
            {% endif %}
            <div style="outline: 2px solid
                    {% if form.error %}#a32727 {% else %} #fff {% endif %};
                    border: 10px solid #fff; border-radius: 10px;">
                {{ form|crispy }}
            </div>

        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Отправить
        </button>
    </form>
{% endblock %}
