{% extends 'tests_base.html' %}
{% load crispy_forms_filters %}
{% block title %}Тест{% endblock %}
{% block card_col %}
    col-8
{% endblock %}
{% block main %}
    <h2>Прохождение теста Хони и Мамфорда</h2>
    <p>
        Вопросник построен так, чтобы выявить предпочитаемый Вами стиль (стили) обучения. За годы работы Вы, вероятно,
        выработали привычки обучения, которые помогают Вам в некоторых случаях извлекать большую пользу. Вопросник
        поможет Вам определить Ваши предпочтения в обучении таким образом, чтобы Вы могли выбрать методы обучения,
        которые в большей степени подходят Вашему стилю.

        Ограничения по времени заполнения этого вопросника нет. Точность результатов зависит от того, насколько Вы
        откровенны. Здесь нет правильных или неправильных ответов.
    </p>
    <form method="post">
        {% csrf_token %}
        {% for form in forms %}
            {{ form|crispy }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Отправить
        </button>
    </form>
{% endblock %}