{% extends 'tests_base.html' %}
{% load crispy_forms_filters %}
{% block title %}Тест{% endblock %}
{% block card_col %}
    col-6-lg
{% endblock %}
{% block main %}
    <h2>Прохождение теста Майерс-Бриггса</h2>
    <p>
        Несколько советов о том, как лучше всего заполнить этот опрос:
        Ни на один из этих вопросов нет правильных ответов.
        Отвечайте на вопросы быстро, не переоценивайте их. Некоторые кажутся
        плохо сформулированными. Делай то, что кажется тебе лучшим.
        Отвечайте на вопросы как “такой, какой вы есть”, а не “таким, каким вы
        хотели бы, чтобы вас видели
        другие".
    </p>
    <form method="post">
        {% csrf_token %}
        {% for form in forms %}
            {{ form|crispy }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Отправить
        </button>
    </form>
{% endblock %}
