.idea
idea
.DS_Store
.env.dev
.env.prod
.vscode

*.egg-info/
.installed.cfg
*.egg

docs
dist
db.sqlite3
sqlite.db
venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

**/secrets.py
**/secrets_azure.py

media/*
!*media/.gitkeep


log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log
