{% extends 'main_base.html' %}
{% block title %}Проект{% endblock %}
{% block content %}
    <div class="justify-content-center">
        <h1 class="page-header text-center">
            <b>Проект {{ project.title }}</b></h1>

        <ul class="list-group">
            {% if user.profile.project.title == project.title %}
                <li class="text-center"
                    style="list-style: none; margin-bottom: 10px">
                    {% block buttons %}
                    {% endblock buttons %}
                </li>
            {% endif %}
            <li class="text-center"
                style="list-style: none; margin-bottom: 10px">
                <a href="{% url 'analyze_team' title=project.title %}">
                    <button type="button"
                            class="btn btn-info">Анализ эффективности
                    </button>
                </a>
            </li>
            <li class="list-group-item text-center">
                <h4 class="text-center">Описание:</h4>
                {{ project.description }}
            </li>
            {% if project.city %}
                <li class="list-group-item text-center">
                    <h4 class="text-center">Город:</h4>
                    {{ project.city }}
                    {% if project.online is not None %}
                        (
                        {{ project.remote_value }}
                        )
                    {% endif %}
                </li>
            {% endif %}
            <li class="list-group-item text-center">
                <h4 class="text-center">Вакантных мест:</h4>
                {{ project.vacant }}
            </li>
            <li class="list-group-item">
                <h4 class="text-center">Требуются специализации:</h4>
                <br>
                <ol class="text-center list-group">
                    {% for spec in project.required_specialization.all %}
                        <li class="list-group-item text-center">{{ spec }}</li>
                    {% endfor %}
                </ol>
            </li>
            <li class="list-group-item">
                <h4 class="text-center">Требуются роли по Белбину:</h4>
                <br>
                <ol class="text-center list-group">
                    {% for role in  project.required_belbin.all %}
                        <li class="list-group-item  text-center">{{ role }}</li>
                    {% endfor %}
                </ol>
            </li>
        </ul>
        <h3 style="text-align: center">Текущая команда</h3>
        <div class="row justify-content-md-start">
            {% for slot in project.team.all %}
                <div class="col-6 card">
                    <div class="card-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                {% if slot.profile %}
                                    <a href="{{ slot.profile.get_absolute_url }}">
                                        <button type="button"
                                                class="btn">
                                            ({{ slot.profile.user.username }})
                                            <br/>
                                            {{ slot.profile.user.first_name }}
                                            {{ slot.profile.user.last_name }}
                                        </button>
                                    </a>
                                {% else %}
                                    <u>Место свободно</u>
                                {% endif %}
                            </li>
                            {% if user.profile.project.title == project.title %}
                                <li class="list-group-item">
                                <h6>Электронный адрес:</h6>
                                {% if slot.profile.user.email %}
                                    {{ slot.profile.user.email }}
                                {% else %}
                                    Не указан
                                {% endif %}
                            {% endif %}
                            </li>
                            <li class="list-group-item">
                                <h6>Описание:</h6>
                                {{ slot.description }}
                            </li>
                            {% if slot.salary %}
                                <li class="list-group-item">
                                    <h6>Получает:</h6>
                                    {{ slot.salary }} рублей
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <h6>Работает</h6>
                                {{ slot.work_hours }}
                                часов в неделю
                            </li>
                            {% if slot.specialization.exists %}
                                <li class="list-group-item">
                                    <h6>Специализации:</h6>
                                    <ul class="text-center list-group">
                                        {% for spec in slot.specialization.all %}
                                            <li class="list-group-item">{{ spec }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if slot.role.exists %}
                                <li class="list-group-item">
                                    <h6>Роли по Белбину:</h6>
                                    <ul class="text-center list-group">
                                        {% for role in slot.role.all %}
                                            <li class="list-group-item">{{ role }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% block downcard %}

                            {% endblock downcard %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
