{% extends 'main_base.html' %}
{% block title %}Анализ команды{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-start text-center">
            <div class="col-12 card">
                <h1>Анализ для {{ project }}</h1>
                <div class="card-body">
                    <ul class="list-group">
                        {% for k, v in analyze.items %}

                            <li class="list-group-item text-center"
                                style="
                                        {% if v.1 == -1 %}
                                            color:orangered;
                                        {% elif v.1 == 1 %}
                                            color: forestgreen;
                                        {% endif %}
                                        ">
                                {{ k }}: {{ v.0 }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if final_res == 1 %}
                        <h4 style="color: forestgreen">Команда отлично
                            сбалансирована</h4>
                    {% elif final_res == -1 %}
                        <h4 style="color: orangered">Команда сбалансирована
                            плохо</h4>
                    {% else %}
                        <h4>Команда сбалансирована нормально</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}