{% extends 'project_detail_base.html' %}
{% block downcard %}
    {% if user.profile.project.title == project.title %}
        <li class="list-group-item">
            <form method="post"
                  action="{% url 'slot_invite' title=project.title profile=username slot_pk=slot.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-block">
                    <b>Пригласить</b>
                </button>
            </form>
        </li>
    {% endif %}
{% endblock %}

