{% extends 'project_detail_base.html' %}
{% block downcard %}
    {% if user.profile.project.title == project.title %}
        <li class="list-group-item">
            <a href="{% url 'worker_slot_form' slug=project.title pk=slot.pk %}">
                <button type="button"
                        class="btn btn-primary">
                    Редактировать
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'applied_profiles' title=project.title slot_pk=slot.pk %}">
                <button type="button"
                        class="btn btn-dark">
                    Заявки
                </button>
            </a>
        </li>
    {% else %}
        {% if user.is_authenticated %}
            <li class="list-group-item">
                <form method="post"
                      action="{% url 'slot_apply' title=project.title profile=user.username slot_pk=slot.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-block">
                        <b>Оставить заявку</b>
                    </button>
                </form>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block buttons %}
    <div class="col-6 card align-middle">
        <a class="btn btn-light action-button" role="button"
           href="{% url 'worker_slot_form' slug=project.title pk=0 %}">
            <b>Создать вакансию</b>
        </a>
    </div>
{% endblock %}
