<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>О нас</h6>
                <p class="text-justify">Just two guys wanna create some
                    profitable stuff</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h6>Быстрые ссылки</h6>
                <table class="footer-links">
                    <tr>
                        <td><a href="https://vk.com/dmitriyshagarov">Связаться
                            с
                            разработчиком сайта</a></td>
                        <td>
                            <a href="https://vk.com/eternalapathetickatanapain">Связаться
                                <br/>с Android-разработчиком</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.hse.ru/studyspravka/kursovrab">Политика
                                конфиденциальности</a></td>
                        <td>Telegram для связи с Тех. поддержкой:
                            @DmitriyShagarov
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights
                    Reserved by TeamUp project HSE-FCS-BSE202.
                </p>
            </div>
        </div>
    </div>
</footer>