<header>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" href="/">TeamUp</a>
                    <button class="navbar-toggler" data-toggle="collapse"
                            data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse"
                         id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   href="{% url 'offer_list' %}">Работники</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   href="{% url 'project_list' %}">Проекты</a>
                            </li>
                        </ul>
                        <div class="mr-auto">

                        </div>
                        {% if not user.is_authenticated %}
                            <span class="navbar-text"><a
                                    href="{% url 'login' %}"
                                    class="login">Вход</a></span>
                            <a class="btn btn-light action-button"
                               role="button" href="{% url 'register' %}">Регистрация</a>
                        {% else %}
                            <a class="btn btn-light action-button"
                               role="button"
                               href="{% url 'profile_detail' slug=user.username %}">Профиль
                                <b>{{ user.username }}</b></a>
                            <span class="navbar-text"><a
                                    href="{% url 'logout' %}" class="login">Выйти</a></span>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</header>
