<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Фильтрация и поиск</h3>
        <form action="{% url 'project_list' %}" method="get"
              class="d-flex editContent">
            <input type="search" placeholder="Введите название..."
                   name="search" class="form-control">
            <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                           aria-hidden="true"></span>
            </button>
        </form>

    <div>
        <form action="{% url 'project_list' %}" method="get">
            <div class="left-side my-4">
                <h3 class="sear-head editContent">Специализации</h3>
                <ul class="w3layouts-box-list">
                    {% for specialization in view.get_specializations %}
                        <li class="editContent">
                            <input type="checkbox" class="checked"
                                   name="specialization"
                                   value="{{ specialization }}">
                            <span class="span editContent">{{ specialization }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="left-side my-4">
                <h3 class="sear-head editContent">Роли по Белбину</h3>
                <ul class="w3layouts-box-list">
                    {% for role in view.get_belbin %}
                        <li class="editContent">
                            <input type="checkbox" class="checked"
                                   name="role"
                                   value="{{ role }}">
                            <span class="span editContent">{{ role }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="left-side my-4">
                <h3 class="sear-head editContent">Возможность удаленной работы</h3>
                <ul class="w3layouts-box-list">
                    {% for remote in view.get_remote %}
                        <li class="editContent">
                            <input type="checkbox" class="checked"
                                   name="remote"
                                   value="{{ remote }}">
                            <span class="span editContent">{{ remote }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="left-side">
                <h3 class="sear-head editContent">Город</h3>
                <ul class="w3layouts-box-list">
                    {% for city in view.get_cities %}
                        <li class="editContent">
                            <input type="checkbox" class="checked"
                                   name="city"
                                   value="{{ city }}">
                            <span class="span editContent">{{ city }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <button type="submit">Найти</button>
        </form>
    </div>

</div>
</div>
