{% extends 'main_base.html' %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
    <div style="text-align: center; margin: 20px 0 30px 0">
        <h3>
            Редактирование профиля {{ user.username }}
        </h3>
    
        <form method="post" enctype="multipart/form-data"
              action="{% url 'edit_profile' slug=user.username %}">
            {% csrf_token %}
            {% for field in form_user %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {% for field in form_profile %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}

                </div>
            {% endfor %}
            <button type="submit">Изменить</button>
        </form>
    </div>
{% endblock %}