{% extends 'main_base.html' %}
{% block title %}Предложения{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-start">
            {% for offer in executoroffer_list %}
                <div class="col-6 card">
                    <div class="card-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                {{ offer.profile }}
                            </li>
                            <li class="list-group-item">
                                Описание:
                                <br>
                                {{ offer.description }}
                            </li>
                            {% if offer.salary %}
                                <li class="list-group-item">
                                    Рассчитывает получать:
                                    <br>
                                    {{ offer.salary }}
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                Хочет работать
                                {{ offer.work_hours }}
                                часов в неделю
                            </li>
                            {% if offer.profile.specialization.exists %}
                                <li class="list-group-item">
                                    Специализации:
                                    <br>
                                    <ul class="text-center list-group">
                                        {% for spec in offer.profile.specialization.all %}
                                            <li class="list-group-item">{{ spec }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if offer.profile.belbin.exists %}
                                <li class="list-group-item">
                                    <br>
                                    Роли по Белбину:
                                    <ul class="text-center list-group">
                                        {% for role in offer.profile.belbin.all %}
                                            <li class="list-group-item">{{ role }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <a href="{{ offer.profile.get_absolute_url }}">
                                    <button type="button"
                                            class="btn btn-primary">
                                        Перейти в профиль
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}