{% extends 'main_base.html' %}
{% block title %}Главная{% endblock %}
{% block banner %}<img style="filter: brightness(60%); width: 100%;"
                       src="/static/img/banner.jpg"
                       alt="Команда мечты">{% endblock %}
{% block content %}
    <div>
        <h5>
            <p> TeamUp - это сервис, предназначенный для повышения
                эффективности и упрощения процесса подбора людей себе в команду
                для
                различных проектов. Подбор людей основывается на сильных
                сторонах
                кандидатов, таких как роль в команде, профессиональный навык и
                т.
                д.
            <p>Мы поможем вам облегчить процесс проекта, если вы хотите
                стать частью бизнес-идеи. Если же вы являеетесь лидером
                проекта,
                которому нужны люди для
                работы над проектом и хотите создать свою команду мечты,
                то мы - отличная возможность найти подходящих людей.</p>
            <p>Ищете команду? Смело заполняйте анкету, присылайте резюме,
                с помощью которого мы обязательно найдем
                подходящую команду, которая нуждается в таком специалисте, как
                вы.</p>
            <p>
                Придумали идеальный бизнес план и хотите найти людей, способных
                вам
                помочь? Укажите необходимые для вашего проекта критерии
                работников
                с учетом как социальных, так и исполнительских качеств и
                просматривайте подходящие анкеты.</p>
        </h5>
    </div>
{% endblock %}