{% extends 'main/base.html' %}
{% block title %}Тест{% endblock %}
{% block content %}
    <div align="left">
        <h2>Прохождение теста Майерс-Бриггса</h2>
        <form method="post" action="{% url 'mbti_test' %}">
            {% csrf_token %}
            {% for form in forms %}
                {% if form.error %}
                    {{ form.error }}
                {% endif %}
                {% for field in form %}
                    <div>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            {% endfor %}

            <button type="submit">Отправить</button>
        </form>
    </div>

{% endblock %}
