{% extends 'project_detail_base.html' %}
{% block downcard %}
    <li class="list-group-item">
        <a href="{% url 'worker_slot_form' slug=project.title pk=slot.pk %}">
            <button type="button"
                    class="btn btn-primary">
                Редактировать
            </button>
        </a>
    </li>
{% endblock %}
{% block buttons %}
    <div class="col-6 card align-middle">
        <a class="btn btn-light action-button" role="button"
           href="{% url 'worker_slot_form' slug=project.title pk=1 %}">
            <b>Создать вакансию</b>
        </a>
    </div>
{% endblock %}
