<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div align="center">
    <h2>
        Регистрация
    </h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% for field in user_form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Регистрация</button>
    </form>
</div>
</body>
</html>