{% extends 'main_base.html' %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
    {% load filters %}
    <div>
        {% if user_.username == user.username %}
            <a class="btn btn-light action-button" role="button"
               href="{% url 'edit_profile' %}">
                <b>Редактировать профиль</b>
            </a>
            <a class="btn btn-light action-button" role="button"
               href="{% url 'password_change' %}">
                <b>Сменить пароль</b>
            </a>
        {% endif %}
    </div>
    <div>
        <ul style="margin-top: 20px" class="list-group">
            <li class="list-group-item">
                <img style="width: 200px" src="{{ profile.photo.url }}"
                     alt="Фото профиля">
            </li>
            <li class="list-group-item">Фамилия: {{ user_.last_name }}</li>
            <li class="list-group-item">Имя: {{ user_.first_name }}</li>
            {% if profile.patronymic %}
                <li class="list-group-item">
                    Отчество: {{ profile.patronymic }}</li>
            {% endif %}
            <li class="list-group-item">Описание:
                {% if profile.description %}
                    {{ profile.description }}
                {% else %}
                    Пользователь не рассказывает о себе
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if profile.cv %}
                    <a href="{{ profile.cv.url }}">Открыть резюме</a>
                {% else %}
                    Резюме: Не загружено
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if profile.belbin.exists %}
                    Роли по Белбину:
                    <ol>
                        {% for role in profile.belbin.all %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    Пользователь не прошел тестирование по Белбину
                    {% if user.username == user_.username %}
                        <a href="{% url 'belbin_test' %}">Пройти тест</a>
                    {% endif %}
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if profile.mbti.exists %}
                    Роли по Майерс-Бриггсу:
                    <ul>
                        {% for role in profile.mbti.all %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Пользователь не прошел тестирование по Майерсу-Бриггсу
                    {% if user.username == user_.username %}
                        <a href="{% url 'mbti_test' %}">Пройти тест</a>
                    {% endif %}
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if profile.lsq.exists %}
                    Роли по Хони-Мамфорду:
                    <ul>
                        {% for role in profile.lsq.all %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Пользователь не прошел тестирование по Хони-Мамфорду
                    {% if user.username == user_.username %}
                        <a href="{% url 'lsq_test' %}">Пройти тест</a>
                    {% endif %}
                {% endif %}
            </li>
            {% if profile.remote %}
                <li class="list-group-item">
                    Предпочитает работать: {{ profile.get_remote_value }}
                </li>
            {% endif %}
            {% if profile.specialization.exists %}
                <li class="list-group-item">Специализации:
                    <ul>
                        {% for spec in profile.specialization.all %}
                            <li>{{ spec }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if profile.city %}
                <li class="list-group-item">Город: {{ profile.city }}</li>
            {% endif %}
            {% if profile.age %}
                <li class="list-group-item">Возраст: {{ profile.age }} лет</li>
            {% endif %}
        </ul>
    </div>
    {% if user_.username == user.username %}
        <div>
            <a class="btn btn-light action-button" role="button"
               href="{% url 'executor_offer' %}">
                <b>{% if not profile.executor_offer %}Создать
                {% else %}Редактировать
                {% endif %}предложение работника</b>
            </a>
            {% if profile.executor_offer %}
                <form method="post" action="{% url 'delete_offer' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light action-button">
                        <b>Удалить предложение</b>
                    </button>
                </form>
            {% endif %}
        </div>
        <div>
            {% if not profile|leader %}
                <a class="btn btn-light action-button" role="button"
                   href="{% url 'create_project' %}">
                    <b>Создать проект</b>
                </a>
            {% else %}
                <form method="post" action="{% url 'delete_project' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light action-button">
                        <b>Удалить проект</b>
                    </button>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
