{% extends 'main/base.html' %}
{% block title %}Аккаунт{% endblock %}
{% block content %}
    <a class="btn btn-light action-button" role="button"
       href="{% url 'edit_profile' slug=user.username %}">
        <b>Редактировать профиль</b>
    </a>
    <ul style="margin-top: 20px">
        <li>
            <img style="width: 200px" src="{{ profile.photo.url }}"
                 alt="Фото профиля">
        </li>
        <li>Фамилия: {{ user_.last_name }}</li>
        <li>Имя: {{ user_.first_name }}</li>
        {% if profile.patronymic %}
            <li>Отчество: {{ profile.patronymic }}</li>
        {% endif %}
        <li>Описание:
            {% if profile.description %}
                {{ profile.description }}
            {% else %}
                Пользователь не рассказывает о себе
            {% endif %}
        </li>
        <li>
            {% if profile.cv %}
                <a href="{{ profile.cv.url }}">Открыть резюме</a>
            {% else %}
                Резюме: Не загружено
            {% endif %}
        </li>
        <li>
            {% if profile.belbin.exists %}
                Роли по Белбину:
                <ol>
                    {% for role in profile.belbin.all %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                Пользователь не прошел тестирование по Белбину
                {% if user.username == user_.username %}
                    <a href="{% url 'belbin_test' %}">Пройти тест</a>
                {% endif %}
            {% endif %}
        </li>
        <li>
            {% if profile.mbti.exists %}
                Роли по Майерсу-Бриггсу:
                <ol>
                    {% for role in profile.mbti.all %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                Пользователь не прошел тестирование по Майерсу-Бриггсу
            {% endif %}
        </li>
        <li>
            {% if profile.lsq.exists %}
                Роли по Хони-Мамфорду:
                <ol>
                    {% for role in profile.lsq.all %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                Пользователь не прошел тестирование по Хони-Мамфорду
            {% endif %}
        </li>
        {% if profile.remote %}
            <li>
                Предпочитает работать: {{ profile.get_remote_value }}
            </li>
        {% endif %}
        {% if profile.specialization.exists %}
            <li>Специализации:
                <ol>
                    {% for spec in profile.specialization.all %}
                        <li>{{ spec }}</li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
        {% if profile.city %}
            <li>Город: {{ profile.city }}</li>
        {% endif %}
        {% if profile.age %}
            <li>Возраст: {{ profile.age }} лет</li>
        {% endif %}
    </ul>
{% endblock %}
