{% extends 'main_base.html' %}
{% block title %}Предложения{% endblock %}
{% block sidebar %}
    {% include 'include/executor_filter.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-start">
            {% for offer in executoroffer_list %}
                <div class="col-6 card">
                    <div class="card-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <h5>Работник {{ offer.profile }}</h5>
                            </li>
                            <li class="list-group-item">
                                <b>Описание:</b>
                                <br>
                                {{ offer.description }}
                            </li>
                            {% if offer.salary %}
                                <li class="list-group-item">
                                    <b>Рассчитывает получать:</b>
                                    <br>
                                    {{ offer.salary }} рублей
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <b>Хочет работать</b>
                                {{ offer.work_hours }}
                                часов в неделю
                            </li>
                            {% if offer.profile.specialization.exists %}
                                <li class="list-group-item">
                                    <b>Специализации:</b>
                                    <br>
                                    <ul class="text-center list-group">
                                        {% for spec in offer.profile.specialization.all %}
                                            <li class="list-group-item">{{ spec }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if offer.profile.belbin.exists %}
                                <li class="list-group-item">
                                    <br>
                                    <b>Роли по Белбину:</b>
                                    <ul class="text-center list-group">
                                        {% for role in offer.profile.belbin.all %}
                                            <li class="list-group-item">{{ role }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <a href="{{ offer.profile.get_absolute_url }}">
                                    <button type="button"
                                            class="btn btn-primary">
                                        Перейти в профиль
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bg bg1 text-right mt-4">
            {% include 'include/pagination.html' %}
        </div>
    </div>
{% endblock %}