{% extends 'main_base.html' %}
{% block title %}Приглашения{% endblock %}
{% block content %}
    <div class="justify-content-center">
        {% if invited_slots %}
            <h1 class="page-header text-center">
                <b>Ваши приглашения</b></h1>
            <div class="row justify-content-md-start">
                {% for slot in invited_slots %}
                    <div class="col-6 card">
                        <div class="card-body">
                            <ul class="list-group text-center">
                                <li class="list-group-item">
                                    <a href="{{ slot.project.get_absolute_url }}">
                                        <button type="button"
                                                class="btn">
                                            Проект
                                            {{ slot.project }}
                                        </button>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    Описание:
                                    <br>
                                    {{ slot.description }}
                                </li>
                                {% if slot.salary %}
                                    <li class="list-group-item">
                                        Получать:
                                        <br>
                                        {{ slot.salary }}
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    Работа
                                    {{ slot.work_hours }}
                                    часов в неделю
                                </li>
                                {% if slot.specialization.exists %}
                                    <li class="list-group-item">
                                        Специализации:
                                        <br>
                                        <ul class="text-center list-group">
                                            {% for spec in slot.specialization.all %}
                                                <li class="list-group-item">{{ spec }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if slot.role.exists %}
                                    <li class="list-group-item">
                                        <br>
                                        Роли по Белбину:
                                        <ul class="text-center list-group">
                                            {% for role in slot.role.all %}
                                                <li class="list-group-item">{{ role }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <form method="post"
                                          action="{% url 'accept_invite' slot=slot.id %}">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="btn btn-success">
                                            Принять
                                        </button>
                                    </form>
                                </li>
                                <li class="list-group-item">
                                    <form method="post"
                                          action="{% url 'decline_invite' slot=slot.id %}">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="btn btn-danger">
                                            Отказаться
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Пока приглашений нет</h1>
        {% endif %}
        <hr>
        {% if applied_slots %}<h1 class="page-header text-center">
            <b>Ваши заявки</b></h1>
            <div class="row justify-content-md-start">
                {% for slot in applied_slots %}
                    <div class="col-6 card">
                        <div class="card-body">
                            <ul class="list-group text-center">
                                <li class="list-group-item">
                                    <a href="{{ slot.project.get_absolute_url }}">
                                        <button type="button"
                                                class="btn">
                                            Проект
                                            {{ slot.project }}
                                        </button>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    Описание:
                                    <br>
                                    {{ slot.description }}
                                </li>
                                {% if slot.salary %}
                                    <li class="list-group-item">
                                        Получать:
                                        <br>
                                        {{ slot.salary }}
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    Работа
                                    {{ slot.work_hours }}
                                    часов в неделю
                                </li>
                                {% if slot.specialization.exists %}
                                    <li class="list-group-item">
                                        Специализации:
                                        <br>
                                        <ul class="text-center list-group">
                                            {% for spec in slot.specialization.all %}
                                                <li class="list-group-item">{{ spec }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if slot.role.exists %}
                                    <li class="list-group-item">
                                        <br>
                                        Роли по Белбину:
                                        <ul class="text-center list-group">
                                            {% for role in slot.role.all %}
                                                <li class="list-group-item">{{ role }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <form method="post"
                                          action="{% url 'retract_invite' slot=slot.id %}">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="btn btn-danger">
                                            Отозвать
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Пока заявок нет</h1>
        {% endif %}
        <hr>
        {% if projects %}<h1 class="page-header text-center">
            <b>Ваши проекты</b></h1>
            <div class="row justify-content-md-center">
                <ul class="list-group text-center">
                    {% for project in projects %}
                        <li class="list-group-item">
                            <a href="{{ project.get_absolute_url }}">
                                <button type="button"
                                        class="btn">
                                    {{ project.title }}
                                    <br/>
                                    Электронный адрес владельца:
                                    <br/>
                                    {% if project.owner.user.email %}
                                        {{ project.owner.user.email }}
                                    {% else %}
                                        Не указан
                                    {% endif %}
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <h1>Пока проектов нет</h1>
        {% endif %}
    </div>
{% endblock %}
