{% extends 'accounts_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Вход
{% endblock %}
{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Вход в аккаунт</h4>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Войти
                </button>
            </form>
        </div>
    </div>
{% endblock %}