{% extends 'accounts_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Смена пароля
{% endblock %}
{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Смена пароля</h4>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Сменить пароль
                </button>
            </form>
        </div>
    </div>
{% endblock %}